<div class="dropdown {{ dropdownState }}" aria-labelledby="{{ dropdownAriaLabelledby }}">
  <button type="button" class="btn {{ btnClass }} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ dropdownText }}
  </button>
  <div class="dropdown-menu">
    {{#each dropdownList}}
      <a class="dropdown-item" href="#">{{this}}</a>
    {{/each}}
  </div>
</div>
